/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body * {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/* utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main>:nth-child(odd) {
    background-color: rgb(240, 152, 152);
}

main>:nth-child(even) {
    background-color: rgb(145, 141, 141);
}

.flex {
    display: flex;
}

.section {
    height: 400px;
    width: 100%;
    display: flex;
    border: 2px dashed black;
    padding: 50px 0;
    justify-content: center;
}

.switch {
    flex-direction: row-reverse;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #232138;
}

.txt-mid {
    font-size: 16px;
}

.white {
    color: white;
}

button {
    border-radius: 50px;
    border-style: hidden;
    min-width: 80px;
    padding: 10px 15px;
    height: 40px;
}

/* Header */


header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px;
    text-align: center;
    width: 100%;
}

.top-bar {
    width: 1200px;
    padding: 10px;
    align-items: center;
}

.logo {
    flex-basis: 25%;
    text-align: left;
}

.top-btn {
    text-align: right;
    color: black;
    flex-basis: 25%;
}

.top-menu {
    flex-grow: 1;
    text-align: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}


.jumbotron {
    /* background-color: blue; */
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.jumbo-content {
    height: 350px;
    flex-basis: 700px;
}

h1 {
    font-size: xxx-large;
    padding: 5%;
}

.heading-text {
    padding: 10px 5px;
    line-height: 30px;
}

.jumbo-btn {
    padding: 10px;
}

.btn-dw {
    margin-right: 20px;
}

/* body */

.section-body {
    flex-basis: 70%;
}

.left-content {
    flex-basis: 35%;
    background-color: aquamarine;
}

.right-content {
    flex-grow: 1;
    background-color: rgb(230, 230, 126);
}

.last-section {
    height: 650px;
}

#btm-sec {
    background-color: lightgrey;
}

/* footer */

footer {
    width: 100%;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    border: 2px dashed white;
    align-items: center;
}

/* upper footer  */
.upper-footer {
    height: 400px;
    width: 70%;
    padding: 10px 0 30px;
}

.social {
    flex-grow: 1;
    background-color: orange;
}

.btm-menu {
    flex-basis: 70%;
    background-color: orangered;
}

.column-menu {
    border: 2px white dashed;
    flex-basis: 100%;
}

/* lower footer */

.lower-footer {
    height: 70px;
    width: 70%;
    background-color: yellow;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}