/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #292841;
}

/* utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main>:nth-child(odd) {
    background-color: white;
}

main>:nth-child(even) {
    background-color: rgb(247, 244, 244);
}

.flex {
    display: flex;
}

.section {
    height: 550px;
    width: 100%;
    display: flex;
    border: 2px dashed black;
    padding: 50px 0;
    justify-content: center;
}

.switch {
    flex-direction: row-reverse;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #292841;
}

.bg-blue {
    background-color: #628CF7;
}

.txt-mid {
    font-size: 16px;
}

.txt-xl {
    font-size: x-large;
}

.txt-xxxl {
    font-size: xxx-large;
}

.white {
    color: white;
}

p {
    font-weight: 200;
}

button {
    border-radius: 50px;
    border-style: hidden;
    min-width: 80px;
    padding: 10px 15px;
    height: 40px;
}

/* Header */


header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px;
    text-align: center;
    width: 100%;
}

.top-bar {
    padding: 10px;
    align-items: center;
}

.logo {
    flex-basis: 25%;
    text-align: left;
}

.top-btn {
    text-align: right;
    color: black;
    flex-basis: 25%;
}

.top-menu {
    flex-grow: 1;
    text-align: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}


.jumbotron {
    /* background-color: blue; */
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.jumbo-content {
    height: 350px;
    flex-basis: 700px;
}

h1,
h2,
{
padding: 10% 0;
}

h3,
h4 {
    padding: 20px 0;
}

.heading-text {
    padding: 10px 5px;
    line-height: 30px;
}

.jumbo-btn {
    padding: 10px;
}

.btn-dw {
    margin-right: 20px;
}

/* body */

section {
    height: 650px;
    padding: 10px 0;
}

section>.container {
    height: 100%;
    flex-basis: 70%;
    padding: 50px;
}

.left-content {
    align-items: center;
    height: 100%;
    text-align: start;
    padding: 50px 0;
}

.right-content {
    height: 100%;
    flex-grow: 1;
    text-align: left;
    padding: 50px 35px;
}

.last-section {
    height: 900px;
    text-align: center;
}

.last-section p {
    font-weight: bold;
    padding: 10px 10px;


    /* footer */

    footer {
        width: 100%;
        flex-direction: column;
        background-color: rgb(15, 15, 15);
        border: 2px dashed white;
        align-items: center;
    }

    /* upper footer  */
    .upper-footer {
        height: 400px;
        width: 70%;
        padding: 10px 0 30px;
    }

    .social {
        flex-grow: 1;
        background-color: orange;
    }

    .btm-menu {
        flex-basis: 70%;
        background-color: orangered;
    }

    .column-menu {
        border: 2px white dashed;
        flex-basis: 100%;
    }

    /* lower footer */

    .lower-footer {
        height: 70px;
        width: 70%;
        background-color: yellow;
        padding: 10px 0;
        justify-content: space-between;
        align-items: center;
    }