/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #292841;
}

/* utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main>:nth-child(odd) {
    background-color: white;
}

main>:nth-child(even) {
    background-color: rgb(247, 244, 244);
}

.flex {
    display: flex;
}

.section {
    height: 550px;
    width: 100%;
    display: flex;
    border: 2px dashed black;
    padding: 50px 0;
    justify-content: center;
}

.switch {
    flex-direction: row-reverse;
}

/* Background colors  */

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #292841;
}

.bg-blue {
    background-color: #8EA1E1;
}

/* text sizes */

.txt-mid {
    font-size: 16px;
}

.txt-xl {
    font-size: x-large;
}

.txt-xxxl {
    font-size: xxx-large;
}

/* Colors */

.blue {
    color: #7289DA;
}

.white {
    color: white;
}

p {
    font-weight: 200;
}

button {
    border-radius: 50px;
    border-style: hidden;
    min-width: 80px;
    padding: 10px 15px;
    height: 40px;
}

/* Header */


header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px;
    text-align: center;
    width: 100%;
}

.top-bar {
    padding: 10px;
    align-items: center;
}

.logo {
    flex-basis: 25%;
    text-align: left;
}

.top-btn {
    text-align: right;
    color: black;
    flex-basis: 25%;
}

.top-menu {
    flex-grow: 1;
    text-align: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}


.jumbotron {
    /* background-color: blue; */
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.jumbo-content {
    height: 350px;
    flex-basis: 700px;
}

h1,
h2 {
    padding: 10% 0;
}

h3,
h4 {
    padding: 20px 0;
}

p {
    line-height: 25px;
}

.heading-text {
    padding: 10px 5px;
    line-height: 30px;
}

.jumbo-btn {
    padding: 10px;
}

.btn-dw {
    margin-right: 20px;
}

/* body */

section {
    height: 650px;
    padding: 10px 0;
}

section>.container {
    height: 100%;
    flex-basis: 70%;
    padding: 50px;
}

.left-content {
    align-items: center;
    height: 100%;
    text-align: start;
    padding: 50px 0;
}

.right-content {
    height: 100%;
    flex-grow: 1;
    text-align: left;
    padding: 50px 35px;
}

.last-section {
    height: 900px;
    text-align: center;
}

.last-section p {
    font-weight: bold;
    padding: 10px 10px;
}


/* footer */

footer {
    background-color: #23272A;
    padding: 80px 0 50px;
    align-items: center;
}

#ita-flag {
    height: 20px;
    width: auto;
    padding-right: 5px;
}


.upper-footer {

    padding: 10px 0 30px;
    border-bottom: 1px solid #8EA1E1;
}

.social-title {
    font-size: xx-large;
}

.social {
    flex-basis: 30%;
    padding: 15px;
}

.social-icons {
    padding-top: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}


.btm-menu {
    flex-basis: 70%;
}

.column-menu {
    flex-basis: 100%;
    text-align: left;
}

ul {
    padding: 35px;
    list-style-type: none;
    line-height: 30px;
}

ul b,
.upper-footer h4 {
    color: #7289DA;
}

ul li {
    color: white;
}

/* lower footer */

.lower-footer {
    height: 150px;
    padding: 10px 0 30px;
    justify-content: space-between;
    align-items: center;
}